@import "font-awesome-sprockets";
@import "font-awesome";

footer{
    width: 1440px;
    height: 74px;
    background-color: #FAFAFA;
    padding: 25px 0px 25px 0px;
}

.container{
    display: flex;
    /* border: 1px solid black; */
    width: 1050px;
    height: 100%;
    margin: 0 195px 0 195px ;
}

.row {
    display: flex;
}

.col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    /* border: 3px solid black; */
    width: 522px;
}

.tex {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.col2 {
    display: flex;
    /* background-color: pink; */
    /* border: 3px solid black; */
    width: 522px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.social{
    display: inline-flex;
    color: #96BB7C;
    gap: 20px;
    width: 24px;
    height: 24px;
}

.fb{
    width: 24px;
    height: 24px;
}

.ig{
    width: 24px;
    height: 24px;
}

.tr{
    width: 24px;
    height: 20px;
}

